@import variables.sass

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
  .welcome
    display: flex
    flex-direction: column
    justify-content: center
    .welcomel
      display: flex
      width: 100%
      flex-direction: column-reverse
      align-items: center
    section
      width: 100%
      height: auto
      p
        width: 100%
        padding: 10px

  .recent
    section
      display: flex
      flex-direction: column
    article
      flex: 1
      display: flex
      flex-direction: column
      align-items: center
      background-color: $header-bcolor
      margin: 19px
      width: 300px
      border-radius: 60px
      h2
        display: block
        width: 300px
        text-align: center
        padding: 5px
      p
        width: 300px
        text-align: justify
        padding: 5px


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)
  nav
    background-color: blue
    ul
      display: flex
      flex-direction: column

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
  nav
    background-color: green
    ul
      display: flex
      flex-direction: column

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
  nav
    background-color: white

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
  nav
    background-color: snow