/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .welcome .welcomel {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }
  .welcome section {
    width: vw;
    height: auto;
  }
  .welcome section p {
    width: vw;
  }
  .recent section {
    display: flex;
    flex-direction: column;
  }
  .recent article {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B8B8B8;
    margin: 19px;
    width: 300px;
    border-radius: 60px;
  }
  .recent article h2 {
    display: block;
    width: 300px;
    text-align: center;
    padding: 5px;
  }
  .recent article p {
    width: 300px;
    text-align: justify;
    padding: 5px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  nav {
    background-color: blue;
  }
  nav ul {
    display: flex;
    flex-direction: column;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  nav {
    background-color: green;
  }
  nav ul {
    display: flex;
    flex-direction: column;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  nav {
    background-color: white;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  nav {
    background-color: snow;
  }
}
nav {
  height: 5rem;
  background-color: #84615C;
  opacity: 0.9;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
}
nav ul {
  height: 5rem;
  background-color: #84615C;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}
nav ul .navli {
  float: left;
  line-height: 5rem;
  width: 7rem;
}
nav ul .navli a {
  text-decoration: none;
  text-align: center;
  display: block;
  color: white;
  height: 5rem;
  width: 7rem;
}
nav ul .navli a:hover {
  background-color: snow;
  color: black;
}
nav ul .navli a:active {
  color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header {
    height: 400px;
  }
  header .logomansa {
    width: 150px;
    text-align: center;
  }
  nav {
    height: 400px;
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    background-color: #84615C;
    height: 400px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  nav ul .navli {
    display: flex;
    flex-direction: column;
  }
  nav ul .navli a {
    text-decoration: none;
    text-align: center;
    display: block;
    color: #0E111B;
    height: 5rem;
    width: 7rem;
  }
  nav ul .navli a:hover {
    background-color: snow;
  }
  nav ul .navli a:active {
    color: white;
  }
}
footer {
  height: 100px;
  background-color: #84615C;
  text-align: center;
}
footer i {
  font-size: 50px;
  margin-top: 23px;
  margin-left: 10px;
}

.logomansa {
  height: 80px;
  padding: 0px;
  margin: 0px;
  float: left;
}

.mansaimg {
  border-radius: 30px;
  height: 500px;
  margin: 10px;
  float: right;
}

.artimg {
  height: 250px;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logomansa {
    height: 80px;
    padding: 0px;
    margin: 0px;
    float: left;
  }
  .mansaimg {
    border-radius: 30px;
    height: 200px;
    text-align: center;
  }
  .artimg {
    height: 250px;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}
body {
  font: 100% "Noto Sans Mono", monospace;
  color: #0E111B;
  background-color: #eae4e4;
  padding: 0;
  margin: 0;
}

.he1 {
  background-color: #B8B8B8;
  text-align: center;
  height: 80px;
  line-height: 70px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.welcome {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/backimage.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.welcomel {
  display: flex;
}
.welcomel section {
  width: 60%;
  margin-top: 70px;
  background-color: rgba(255, 255, 255, 0.7);
}
.welcomel section p {
  margin-left: 100px;
  padding: 15px;
  width: 530px;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.88);
}
.welcomel section h2 {
  margin-left: 100px;
  margin-top: 150px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.68);
}
.welcomel img {
  padding: 10px;
  margin-top: 85px;
  opacity: 1;
}

.work {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 600px;
  background-image: url("../images/work.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.work .workel {
  display: flex;
  color: white;
}
.work .workel section {
  width: 60%;
  margin-top: 30px;
}
.work .workel section p {
  margin-left: 100px;
  padding: 15px;
  width: 530px;
  text-align: justify;
}
.work .workel section h2 {
  margin-left: 100px;
  margin-top: 80px;
  padding: 15px;
}

.biomansa {
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../images/biopic.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}
.biomansa .bioel {
  margin-top: 100px;
}
.biomansa .bioel h1 {
  margin-left: 100px;
  padding: 15px;
}
.biomansa .bioel p {
  width: 60%;
  margin-left: 100px;
  padding: 15px;
  line-height: 30px;
}

.designwork {
  background-image: url(../images/workel.jpg);
  padding: 10px;
  background-attachment: fixed;
}

.recent {
  background-image: url("../images/recentbg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.recent section {
  display: flex;
  padding: 30px;
}
.recent article {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.68);
  margin: 19px;
  width: 300px;
  border-radius: 60px;
}
.recent article h2 {
  display: block;
  width: 300px;
  text-align: center;
  padding: 5px;
}
.recent article p {
  width: 300px;
  text-align: justify;
  padding: 5px;
}

button {
  background-color: #84615C;
  height: 50px;
  width: 130px;
  border-radius: 30px;
  border-style: none;
  margin-bottom: 25px;
}

button:hover {
  background-color: snow;
  border-style: groove;
  border-color: #84615C;
}

.newsletter {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}
.newsletter input {
  border-radius: 30px;
  height: 50px;
  border-style: none;
  width: 250px;
}
.newsletter input[type=email] {
  padding-left: 25px;
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .welcome .welcomel {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }
  .welcome section {
    width: 100%;
  }
  .welcome section h2 {
    padding: 20px;
    text-align: center;
    width: 100%;
  }
  .welcome section p {
    padding: 20px;
    width: 90%;
    text-align: justify;
  }
  .recent section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .recent article {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B8B8B8;
    margin: 19px;
    width: 300px;
    border-radius: 60px;
  }
  .recent article h2 {
    display: block;
    text-align: center;
    padding: 5px;
  }
  .recent article p {
    width: 300px;
    text-align: justify;
    padding: 5px;
  }
}

/*# sourceMappingURL=global.css.map */
